interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://us-central1.gcp.data-api.moonsense.dev/v2/sessions?per_page=50&page=1
  response:
    body:
      string: '{"sessions":[{"session_id":"6UVNtWAC8sA5RE7fP8fMYT", "app_id":"QBgby9m6X5TbSSWDYVUyak",
        "oldest_event":"2022-05-03T00:05:05.309926379Z", "newest_event":"2022-05-03T00:06:05.852Z",
        "created_at":"2022-05-03T00:05:05.384703Z", "circle":{"centroid":{"latitude":37.62324074043619,
        "longitude":-122.42630453530492}, "radius":2270.3956541338325}, "metadata":{"platform":"iOS",
        "recording_profile":{"name":"mobility", "version":"1"}}, "labels":[{"name":"testing"}]},
        {"session_id":"zKDPvZfVLMc6jjUHNpmXHk", "app_id":"QBgby9m6X5TbSSWDYVUyak",
        "oldest_event":"2022-05-03T00:03:49.484432647Z", "newest_event":"2022-05-03T00:04:19.744Z",
        "created_at":"2022-05-03T00:03:49.549983Z", "circle":{"centroid":{"latitude":37.335180971791615,
        "longitude":-122.03254980000001}, "radius":52240.02420460293}, "metadata":{"platform":"iOS",
        "recording_profile":{"name":"fraud_and_risk", "version":"1"}}, "labels":[{"name":"stopped-for-visibility-change"},
        {"name":"test"}, {"name":"hello"}]}], "pagination":{"current_page":1, "per_page":50,
        "total_pages":1, "total_count":2}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://us-central1.gcp.data-api.moonsense.dev/v2/sessions/6UVNtWAC8sA5RE7fP8fMYT?view=minimal
  response:
    body:
      string: '{"session_id":"6UVNtWAC8sA5RE7fP8fMYT", "app_id":"QBgby9m6X5TbSSWDYVUyak",
        "oldest_event":"2022-05-03T00:05:05.309926379Z", "newest_event":"2022-05-03T00:06:05.852Z",
        "created_at":"2022-05-03T00:05:05.384703Z", "circle":{"centroid":{"latitude":37.62324074043619,
        "longitude":-122.42630453530492}, "radius":2270.3956541338325}, "metadata":{"platform":"iOS",
        "manufacturer":"iPhone", "model":"x86_64", "system_version":"15.4", "recording_profile":{"name":"mobility",
        "version":"1"}, "device_physical_width":"750", "device_physical_height":"1334",
        "device_logical_width":"375", "device_logical_height":"667", "device_pixel_ratio":2},
        "counters":{"battery":{"total":13}, "bundle":{"buckets":[{"start_time":"1651536360000",
        "value":"3"}, {"start_time":"1651536300000", "value":"10"}], "total":13},
        "location":{"total":62}}, "labels":[{"label_id":"22ebbFGcy5M9n7UdWFiQHL",
        "name":"testing"}], "region_id":"us-central1.gcp"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
