interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://us-central1.gcp.data-api.moonsense.dev/v2/sessions/zKDPvZfVLMc6jjUHNpmXHk?view=minimal
  response:
    body:
      string: '{"session_id":"zKDPvZfVLMc6jjUHNpmXHk", "app_id":"QBgby9m6X5TbSSWDYVUyak",
        "oldest_event":"2022-05-03T00:03:49.484432647Z", "newest_event":"2022-05-03T00:04:19.744Z",
        "created_at":"2022-05-03T00:03:49.549983Z", "circle":{"centroid":{"latitude":37.335180971791615,
        "longitude":-122.03254980000001}, "radius":52240.02420460293}, "metadata":{"platform":"iOS",
        "manufacturer":"iPhone", "model":"x86_64", "system_version":"15.4", "recording_profile":{"name":"fraud_and_risk",
        "version":"1"}, "device_physical_width":"750", "device_physical_height":"1334",
        "device_logical_width":"375", "device_logical_height":"667", "device_pixel_ratio":2},
        "counters":{"battery":{"total":7}, "bundle":{"buckets":[{"start_time":"1651536240000",
        "value":"6"}, {"start_time":"1651536180000", "value":"1"}], "total":7}, "location":{"total":32}},
        "labels":[{"label_id":"f6RUFhNCZksprKsMyJUY5U", "name":"stopped-for-visibility-change"},
        {"label_id":"gHBXgofQ8SBYNeELkek9fW", "name":"test"}, {"label_id":"wLPFMpnqe2LmMzWSmbAfcW",
        "name":"hello"}], "region_id":"us-central1.gcp"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"session_id": "zKDPvZfVLMc6jjUHNpmXHk", "title": "random-expected-title",
      "description": "test description", "source_type": "API"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us-central1.gcp.data-api.moonsense.dev/v2/cards
  response:
    body:
      string: '{"session_id":"zKDPvZfVLMc6jjUHNpmXHk", "card_id":"xcbv4L8YyaQG9k8scviQph",
        "title":"random-expected-title", "description":"test description", "source_type":"API"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://us-central1.gcp.data-api.moonsense.dev/v2/cards?session_id=zKDPvZfVLMc6jjUHNpmXHk
  response:
    body:
      string: '{"session_id":"zKDPvZfVLMc6jjUHNpmXHk", "pagination":{"current_page":1,
        "per_page":25, "total_pages":1}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
